<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home page</title>
</head>
<body>
{{> header }}
<!--welcomeMessage is passed as text to screamIt helper-->
<p>{{ screamIt welcomeMessage }}</p>
{{> footer }}
</body>
</html>