<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Maintenance page</title>
</head>
<body>
<h1>Maintenance time!</h1>
<p>We'll be back soon</p>
{{> footer }}
</body>
</html>